

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.contact {
padding: 4rem;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: radial-gradient(#aa12a8, #fbfbfa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}


.card {
  margin: 0.5rem;
}

.card:hover {
  transform: translateY(-5px); /* Déplacement vers le haut de 5 pixels */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombre légère */
}


/*Style pour le boutton pour ajouter contact*/

.buttonAdd {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonAdd:hover {background-color: #3e8e41}

.buttonAdd:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}